html {
    position: relative;
    min-height: 100vh;
    width: 100%;
}
body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    font-size: 15px;
	font-family: Helvetica, sans-serif;
    color: #292929;
    line-height: 150%;
    margin: 0 auto;
		background-color: #f2f2f2;
}
#centerDoc {
    position: relative;
    min-height: 100%;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
}
main {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}
h1 {
	font-size: 50px;
	margin: 20px auto;
	text-align: center;
}

#calculator-container {
	display: flex;
	align-items: center;
	width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    overflow: auto;
	background-color: #f2f2f2;
}
#calculator-container-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex-basis: 63%;
	margin: 50px 18% 0;
	padding: 30px 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	color: #000;
	border: 3px solid #000;
	border-radius: 10px;
	background-color: #fff;
}
#calc-display {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	width: 50%;
	margin: 0 20% 20px;
	padding: 5px 5%;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	color: #000;
	letter-spacing: 5px;
	border: 2px solid #000;
	border-radius: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
input {
	text-align: right;
}
#calc-num-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.calc-num {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 16%;
	margin: 10px 3%;
	padding: 2px 0;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	color: #000;
	border: 2px solid #000;
	border-radius: 10px;
	outline: none;
	height: auto;
}
#clear {
	margin-right: auto;
}

/* media queries */
@media only screen and (min-width: 500px){
#calculator-container-inner {
	flex-basis: 57%;
	margin: 50px 21% 0;
}
}
@media only screen and (min-width: 600px){
#calculator-container-inner {
	flex-basis: 49%;
	margin: 50px 25% 0;
}
}
@media only screen and (min-width: 700px){
#calculator-container-inner {
	flex-basis: 41%;
	margin: 50px 29% 0;
}
}
@media only screen and (min-width: 800px){
#calculator-container-inner {
	flex-basis: 39%;
	margin: 50px 30% 0;
}
}
@media only screen and (min-width: 900px){
#calculator-container-inner {
	flex-basis: 31%;
	margin: 50px 34% 0;
}
}
@media only screen and (min-width: 1100px){
#calculator-container-inner {
	flex-basis: 29%;
	margin: 50px 35% 0;
}
}
@media only screen and (min-width: 1200px){
#calculator-container-inner {
	flex-basis: 34%;
	margin: 50px 33% 0;
	padding: 50px 0;
	font-size: 28px;
}
#calc-display {
	font-size: 28px;
	border: 3px solid #000;
}
.calc-num {
	padding: 4px 0;
	font-size: 28px;
	border: 3px solid #000;
}
}
@media only screen and (min-width: 1300px){
#calculator-container-inner {
	flex-basis: 30%;
	margin: 50px 35% 0;
}
}
@media only screen and (min-width: 1500px){
#calculator-container-inner {
	flex-basis: 26%;
	margin: 50px 37% 0;
}
}
@media only screen and (min-width: 1700px){
#calculator-container-inner {
	flex-basis: 24%;
	margin: 50px 38% 0;
}
}
@media only screen and (min-width: 1900px){
#calculator-container-inner {
	flex-basis: 22%;
	margin: 50px 39% 0;
}
}
@media only screen and (min-width: 2100px){
#calculator-container-inner {
	flex-basis: 20%;
	margin: 50px 40% 0;
}
}
@media only screen and (min-width: 2400px){
#calculator-container-inner {
	flex-basis: 18%;
	margin: 50px 41% 0;
}
}
@media only screen and (min-width: 2700px){
#calculator-container-inner {
	flex-basis: 16%;
	margin: 50px 42% 0;
}
}